@tailwind base;
@tailwind components;
@tailwind utilities;



  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&display=swap');


body{
  background-color: #222222;
  font-family: 'Montserrat', sans-serif;
}

.title{
  font-family: 'Lilita One', cursive;
}

